name: Lint
on:
  pull_request:
    paths:
      # actionlint
      - ".github/workflows/*.yml"
      # prettier
      - "**.md"
      - "**.yml"
      - "**.json"
      # shellcheck & shfmt
      - "**.sh"

jobs:
  validate-renovate-config:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
          fetch-depth: 0
      - uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47
        id: changed-files
        with:
          files: .github/renovate.json
      - uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2
        if: steps.changed-files.outputs.any_changed == 'true'
      - run: bun install -g renovate
        if: steps.changed-files.outputs.any_changed == 'true'
      - run: renovate-config-validator .github/renovate.json
        if: steps.changed-files.outputs.any_changed == 'true'

  actionlint:
    name: Actionlint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Install Actionlint
        env:
          version: "1.7.7"
        run: curl -Ls "https://github.com/rhysd/actionlint/releases/download/v${{ env.version }}/actionlint_${{ env.version }}_linux_amd64.tar.gz" | sudo tar -x -z -C /usr/local/bin actionlint
      - name: Run Actionlint
        run: |
          echo "::add-matcher::.github/matcher-actionlint.json"
          actionlint -color
  biome:
    name: Biome
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Setup Biome
        uses: biomejs/setup-biome@v2
      - name: Run Biome
        run: biome ci .

  shellcheck:
    runs-on: ubuntu-24.04
    name: Shellcheck
    steps:
      - uses: actions/checkout@v6
      - name: Install Shellcheck
        env:
          version: "0.11.0"
        run: curl -Ls "https://github.com/koalaman/shellcheck/releases/download/v${{ env.version }}/shellcheck-v${{ env.version }}.linux.x86_64.tar.xz" | sudo tar -x -J --wildcards --strip-components=1 -C /usr/local/bin "shellcheck*/shellcheck"
      - name: Verify shell scripts
        run: |
          echo "::add-matcher::.github/matcher-shellcheck.json"
          shellcheck -f gcc -S warning hadolint.sh install.sh lib/*.sh test/*.sh
  shfmt:
    name: Shfmt
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Install shfmt
        env:
          version: "3.12.0"
        run: curl -Ls -o shfmt "https://github.com/mvdan/sh/releases/download/v${{ env.version }}/shfmt_v${{ env.version }}_linux_amd64" && chmod +x shfmt && sudo mv shfmt /usr/local/bin
      - name: Lint shell scripts
        run: shfmt -i 2 -d hadolint.sh install.sh lib/*.sh test/*.sh
  typos:
    name: Typos
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Check for typos
        uses: crate-ci/typos@v1.36.2
