name: lint
on:
  pull_request:
    paths:
      # biome
      - "**.json"
      - "**.md"
      # shellcheck & shfmt
      - "**.sh"

permissions:
  contents: read

jobs:
  validate-renovate-config:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
        id: changed-files
        with:
          files: .github/renovate.json
      - uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2.1.2
        if: steps.changed-files.outputs.any_changed == 'true'
      - run: bun install -g renovate
        if: steps.changed-files.outputs.any_changed == 'true'
      - run: renovate-config-validator .github/renovate.json
        if: steps.changed-files.outputs.any_changed == 'true'

  oxfmt:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2.1.2
      - run: bunx oxfmt --check

  shellcheck:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - run: curl -Ls "https://github.com/koalaman/shellcheck/releases/download/v${{ env.version }}/shellcheck-v${{ env.version }}.linux.x86_64.tar.xz" | sudo tar -x -J --wildcards --strip-components=1 -C /usr/local/bin "shellcheck*/shellcheck"
        env:
          version: "0.11.0"
      - run: |
          echo "::add-matcher::.github/matcher-shellcheck.json"
          shellcheck -f gcc -S warning hadolint.sh install.sh lib/*.sh test/*.sh

  shfmt:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - run: curl -Ls -o shfmt "https://github.com/mvdan/sh/releases/download/v${{ env.version }}/shfmt_v${{ env.version }}_linux_amd64" && chmod +x shfmt && sudo mv shfmt /usr/local/bin
        env:
          version: "3.12.0"
      - run: shfmt -i 2 -d hadolint.sh install.sh lib/*.sh test/*.sh

  typos:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: crate-ci/typos@65120634e79d8374d1aa2f27e54baa0c364fff5a # v1.42.1
