name: Test
on:
  pull_request:
    paths:
      - "**.sh"
      - "test/**"
      - "action.yml"
      - ".github/workflows/test.yml"

permissions:
  contents: read

jobs:
  bash_unit:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
        # yq is like jq for yaml
        # https://github.com/actions/runner-images/blob/main/images/linux/Ubuntu2204-Readme.md#tools
        # shellcheck disable=SC2034
      - run: echo version="$(yq .inputs.version.default action.yml)" >> "${GITHUB_ENV}"
      - run: |
          echo "::debug::Downloading Hadolint ${{ env.version }}"
          curl -L -s -o hadolint "https://github.com/hadolint/hadolint/releases/download/v${{ env.version }}/hadolint-Linux-x86_64"
          chmod +x hadolint
          sudo mv hadolint /usr/local/bin/hadolint
      - run: curl -Ls "https://github.com/pgrange/bash_unit/archive/refs/tags/v2.3.3.tar.gz" | tar -x -z --wildcards --strip-components=1 -C bin "*/bash_unit"
      - uses: docker://kcov/kcov:latest
        with:
          entrypoint: sh
          args: >-
            -ceux
            "export PATH=$GITHUB_WORKSPACE/bin:$PATH &&
            cd test && kcov
            --bash-parse-files-in-dir=..
            --include-pattern=/lib/,hadolint.sh
            --exclude-pattern=/test/,install.sh
            ../coverage
            bash_unit unit.sh e2e.sh"
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          files: coverage/bash_unit/cobertura.xml
